<style>
    .transrow {
    }
    .totalrow {
        background-color: #ccf;
    }
    .account_details {
        text-align: right;
    }
    .zero {
        color: #999;
    }
</style>

<h1>double-Register</h1>

<table border=1>
    <tr>
        <th>Date</th>
        <th>Transaction</th>
        {% for acct in accounts %}
            <th>{{acct}}</th>
        {% endfor %}
    </tr>
    {% for row in register %}
        <tr class='transrow'>
            <td>
                {{row.transaction.date}}
            </td>
            <td>
                {{row.transaction}}
            </td>
            {% for details in row.per_account_details %}
            <td class="account_details">
                <div class="transrow">
                    {% if details.delta %}
                        {{details.delta}}
                    {% else %}
                        <span class="zero">0.00</span>
                    {% endif %}
                </div>
                <div class="totalrow">
                    {{details.balance}}
                </div>
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
