<style>
    .transrow {
    }
    .totalrow {
        background-color: #ccf;
    }
    .money {
        text-align: right;
    }
    .zero {
        color: #999;
    }
</style>

<h1>double-Register</h1>

<table border=1>
    <tr>
        <th>Date</th>
        <th>Transaction Type</th>
        <th>Comment</th>
        <th>Amount</th>
        {% for acct in accounts %}
            <th>{{acct}}</th>
        {% endfor %}
    </tr>
    {% for row in register %}
        <tr class='transrow'>
            <td>
                {{row.transaction.date}}
            </td>
            <td>
                {{row.transaction.type}}
            </td>
            <td>
                {{row.transaction.comment}}
            </td>
            <td class="money">
                {{row.transaction.amount|floatformat:2}}
            </td>
            {% for details in row.per_account_details %}
            <td class="money">
                <div class="transrow">
                    {% if details.delta %}
                        {% if details.delta > 0 %}+{% endif %}{{details.delta|floatformat:2}}
                    {% else %}
                        {% if details.delta == None %}
                            &nbsp;
                        {% else %}
                            <span class="zero">0.00</span>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="totalrow">
                    {{details.balance|floatformat:2}}
                </div>
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
